.logo {
	flex-shrink: 0;
	height: 6em;
	margin: 1.5em;
	transition: filter 300ms;
	will-change: filter;
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em rgb(97 218 251 / 0.67));
}

@keyframes logo-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	.logo {
		animation: logo-spin infinite 20s linear;
	}
}
